@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

/* Custom slider styles */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Styles for Webkit browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #22c55e;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

/* Styles for Firefox */
input[type="range"]::-moz-range-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  height: 8px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #22c55e;
  border: none;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

/* Vertical slider styles */
input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
